<div class="container">
    <div class="row">
        <div class="col">
            <div class="mt-1">
                <h6><b>Total calories remaining</b></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pb-4 pt-2 pl-3 text-center calorie-number">
            2500
            <div class="text-secondary subtext">
                Goal
            </div>
        </div>
        <div class="col pb-4 text-center operator">
            -
        </div>
        <div class="col pb-4 pt-2 text-center calorie-number">
            1000
            <div class="text-secondary subtext">
                Food
            </div>
        </div>
        <div class="col pb-4 text-center operator">
            =
        </div>
        <div class="col pb-4 pt-2 pr-3 text-center calorie-number">
            1500
            <div class="text-secondary subtext">
                Remaining
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5 pb-2">
            <div class="mt-2">
                <h6><b>Breakfast</b><span class="align-calories-right"><b>2235</b></span></h6>
            </div>
            <div class="mt-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">bbq pizza <span class="align-calories-right"><b>319</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 319g</li>
                    <li class="list-group-item">Jafa cakes <span class="align-calories-right"><b>450</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 220g</li>
                    <li class="list-group-item">hovis bread <span class="align-calories-right"><b>213</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 112g</li>
                    <li class="list-group-item">chicken breast <span class="align-calories-right"><b>112</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 500g</li>
                </ul>
            </div>
            <div class="mt-2 text-center">
                <button type="button" class="btn btn-success btn-sm">Add food +</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4 pb-2">
            <div class="mt-2">
                <h6><b>Lunch</b><span class="align-calories-right"><b>1456</b></span></h6>
            </div>
            <div class="mt-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">bbq pizza <span class="align-calories-right"><b>319</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 319g</li>
                    <li class="list-group-item">Jafa cakes <span class="align-calories-right"><b>450</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 220g</li>
                    <li class="list-group-item">hovis bread <span class="align-calories-right"><b>213</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 112g</li>
                    <li class="list-group-item">chicken breast <span class="align-calories-right"><b>112</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 500g</li>
                </ul>
            </div>
            <div class="mt-2 text-center">
                <button type="button" class="btn btn-success btn-sm">Add food +</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4 pb-2">
            <div class="mt-2">
                <h6><b>Dinner</b><span class="align-calories-right"><b>3214</b></span></h6>
            </div>
            <div class="mt-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">bbq pizza <span class="align-calories-right"><b>319</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 319g</li>
                    <li class="list-group-item">Jafa cakes <span class="align-calories-right"><b>450</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 220g</li>
                    <li class="list-group-item">hovis bread <span class="align-calories-right"><b>213</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 112g</li>
                    <li class="list-group-item">chicken breast <span class="align-calories-right"><b>112</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 500g</li>
                </ul>
            </div>
            <div class="mt-2 text-center">
                <button type="button" class="btn btn-success btn-sm">Add food +</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4 pb-2 mb-4">
            <div class="mt-2">
                <h6><b>Snacks</b><span class="align-calories-right"><b>1156</b></span></h6>
            </div>
            <div class="mt-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">bbq pizza <span class="align-calories-right"><b>319</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 319g</li>
                    <li class="list-group-item">Jafa cakes <span class="align-calories-right"><b>450</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 220g</li>
                    <li class="list-group-item">hovis bread <span class="align-calories-right"><b>213</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 112g</li>
                    <li class="list-group-item">chicken breast <span class="align-calories-right"><b>112</b></span></li>
                    <li class="list-group-item text-secondary mb-3">spar, 500g</li>
                </ul>
            </div>
            <div class="mt-2 text-center">
                <button type="button" class="btn btn-success btn-sm">Add food +</button>
            </div>
        </div>
    </div>
</div>