.colour-protein {
    color: #fc1f4f;
}

.colour-fats {
    color: #35a2fa
}

.colour-carbs {
    color: #d39000
}

.colour-calories {
    color: #7c00b6
}

.align-items-right {
    float:right;
}

.list-group-item {
    font-size: 14px;
    padding: 0px;
}

.text-secondary {
    margin-bottom: 0.25rem;
}

.list-group{
    outline: 2px solid rgb(189, 189, 189);
    max-height: 200px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}