<div class="container">
    <div class="row">
        <div class="col-12 pt-2">
            <div class="row">
                <div class="col-1">
                    <app-back-button [returnRoute]="'/meals'"></app-back-button>
                </div>
                <div class="col text-center">
                    <h6><b>{{meal.name}}</b></h6>
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
        <div class="col-12 pt-2 no-padding" style="display: block">
            <canvas baseChart [data]="data" [chartType]="type" [labels]="labels" [options]="options">
            </canvas>
        </div>
        <div class="col-12 pt-2">
            <div class="row text-center text-secondary">
                <div class="col colour-protein">
                    13%
                </div>
                <div class="col colour-fats">
                    34%
                </div>
                <div class="col colour-carbs">
                    55%
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <h6><b>123g</b></h6>
                </div>
                <div class="col">
                    <h6><b>123g</b></h6>
                </div>
                <div class="col">
                    <h6><b>123g</b></h6>
                </div>
            </div>
            <div class="row text-center text-secondary">
                <div class="col colour-protein">
                    Protein
                </div>
                <div class="col colour-fats">
                    Fats
                </div>
                <div class="col colour-carbs">
                    Carbs
                </div>
            </div>
        </div>
        <div class="col-12 pt-4">
            <h6><b>Meal Items:</b></h6>
            <ul class="list-group list-group-flush" *ngFor="let item of meal.items">
                <li class="list-group-item">{{item.name}}<span
                        class="align-items-right"><b>{{item.calories}}</b></span></li>
            </ul>
        </div>
    </div>
</div>