<div class="row">
    <div class="col">
        <div class="mt-2">
            <h6><b>{{foodGroup}}</b></h6>
        </div>
        <div class="mt-3">
            <ul class="list-group list-group-flush" *ngFor="let food of foods">
                <li *ngIf="forMeal" class="list-group-item" [routerLink]="['/breakdown/new/123']">{{food.name}}<span class="align-calories-right"><b>{{food.calories}}</b></span></li>
                <li *ngIf="!forMeal" class="list-group-item" [routerLink]="['/breakdown', meal, '123']">{{food.name}}<span class="align-calories-right"><b>{{food.calories}}</b></span></li>
                <li class="list-group-item text-secondary">{{food.brand}}, {{food.serving}}{{food.servingtype}}</li>
            </ul>
        </div>
    </div>
</div>