<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <canvas baseChart [data]="data" [chartType]="type" [labels]="labels" [options]="options">
            </canvas>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                    <th scope="col">Goal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><fa-icon class="fas fa-drumstick-bite" [icon]="proteinIcon" size="sm"></fa-icon></th>
                    <td>Protein</td>
                    <td [ngClass]="proteinStatus() == 'green' ? 'green' : (proteinStatus() == 'red' ? 'red' : 'amber')"><b>{{proteinTotal}}</b></td>
                    <td><b>{{proteinGoal}}</b></td>
                  </tr>
                  <tr>
                    <th scope="row"><fa-icon class="fas fa-cheese" [icon]="fatsIcon" size="sm"></fa-icon></th>
                    <td>Fats</td>
                    <td [ngClass]="fatStatus() == 'green' ? 'green' : (fatStatus() == 'red' ? 'red' : 'amber')"><b>{{fatTotal}}</b></td>
                    <td><b>{{fatGoal}}</b></td>
                  </tr>
                  <tr>
                    <th scope="row"><fa-icon class="fas fa-bread-slice" [icon]="carbsIcon" size="sm"></fa-icon></th>
                    <td>Carbs</td>
                    <td [ngClass]="carbsStatus() == 'green' ? 'green' : (carbsStatus() == 'red' ? 'red' : 'amber')"><b>{{carbsTotal}}</b></td>
                    <td><b>{{carbsGoal}}</b></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

