.fa-hot-dog {
    color: red;
}

.fa-egg {
    color: rgb(165, 165, 165);
}

.fa-apple-alt {
    color: rgb(189, 138, 0);
}

.fa-drumstick-bite {
    color: rgb(61, 194, 255);
}

.list-group-item {
    font-size: small;
}

.align-value-right {
    float:right;
}