<div class="container">
    <form [formGroup]="nutritionBreakdownForm"
        (ngSubmit)="addFoodItem(); nutritionBreakdownForm.reset()">
        <div class="row">
            <div class="col-12 pt-2">
                <div class="row">
                    <div class="col-1">
                        <app-back-button [returnRoute]="'/food/' + meal"></app-back-button>
                    </div>
                    <div class="col text-center ">
                        <h6><b>{{(foodObject)?.product.product_name}}</b></h6>
                    </div>
                    <div class="col-1 mr-3 no-padding">
                        <button type="submit" class="btn btn-sm" [disabled]="!nutritionBreakdownForm.valid"><fa-icon [icon]="tickIcon" [fixedWidth]="true" class="tick-icon"></fa-icon></button>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-2">
                <canvas baseChart [data]="data" [chartType]="type" [labels]="labels" [options]="options">
                </canvas>
            </div>
            <div class="col-12 pt-2">
                <div class="row text-center text-secondary">
                    <div class="col-12">
                        <div class="row">
                            <div class="col colour-protein">
                                {{macronutrientGoalPercentages[0]}}%
                            </div>
                            <div class="col colour-fats">
                                {{macronutrientGoalPercentages[1]}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <b>{{macronutrients[0]}}g</b>
                            </div>
                            <div class="col">
                                <b>{{macronutrients[1]}}g</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col colour-protein">
                                Protein
                            </div>
                            <div class="col colour-fats">
                                Fats
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-2">
                        <div class="row">
                            <div class="col colour-carbs">
                                {{macronutrientGoalPercentages[2]}}%
                            </div>
                            <div class="col colour-calories">
                                {{macronutrientGoalPercentages[3]}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <b>{{macronutrients[2]}}g</b>
                            </div>
                            <div class="col">
                                <b>{{macronutrients[3]}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col colour-carbs">
                                Carbs
                            </div>
                            <div class="col colour-calories">
                                Kcal
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="form-group col-12">
                <label for="servingSize">
                    <b>Serving size (g):</b>
                </label>
                <select type="text" formControlName="servingSize" class="form-control" (ngModelChange)="updateMacroServingSize()"
                    [ngClass]="{ 'is-invalid': nutritionForm.servingSize.touched && nutritionForm.servingSize.errors }">
                    <option *ngFor="let size of servingSizes">
                        {{size}}
                    </option>
                </select>
            </div>
            <div class="form-group col-12">
                <label for="numOfServings">
                    <b>Number of servings:</b>
                </label>
                <input type="text" formControlName="numOfServings" class="form-control" placeholder="Enter"
                    [ngClass]="{ 'is-invalid': nutritionForm.numOfServings.touched && nutritionForm.numOfServings.errors }"
                    (ngModelChange)="updateMacroServingNum()">
            </div>
        </div>
    </form>
</div>