.colour-protein {
    color: #fc1f4f;
}

.colour-fats {
    color: #35a2fa
}

.colour-carbs {
    color: #d39000
}

.colour-calories {
    color: #7c00b6
}

.tick-icon {
    color: #009414;

    &:hover {
        cursor: pointer;
    }
}

.no-padding {
    padding-left: 0px;
}

input.ng-invalid.ng-touched {
    border: solid 1px red
}

input.ng-valid.ng-touched {
    border: solid 1px #42A948
}