.no-padding-col {
    padding-left: 0px;
}

.no-padding-plus {
    padding-bottom: 0px;
    padding-top: 0px;
}

.card-img-top {
    width: 100%;
    height: 45vw;
    object-fit: cover;
}

.icons {
    color: #009414;

    &:hover {
        cursor: pointer;
    }
}