<div *ngIf="auth.user$ | async as user">
  <div class="row profile-header">
    <div class="col-4">
      <div class="row">
        <div class="col ml-3 mt-3">
          <img [src]="user.picture" alt="User's profile picture" class="rounded-circle img-size profile-picture" />
        </div>
        <div class="col ml-3 mt-3">
          <h5>{{ user.name }}</h5>
          <h6 class="text-muted">{{ user.email }}</h6>
        </div>
      </div>
    </div>
    <div class="col-8">
    </div>
  </div>
  <form [formGroup]="goalsFormGroup">
    <div class="row pl-3 pr-3">
      <div class="col-11 mt-3">
        <div class="font-medium"><b>Protein goal (g):</b></div>
        <div class="input-group">
          <span class="input-group-text" id="protein">
            <fa-icon (click)="enableProteinField()" [icon]="protein" size="md"></fa-icon>
          </span>
          <input id="protein" type="text" class="form-control" formControlName="protein" placeholder="Enter"
            aria-label="protein goal" aria-describedby="protein goal">
          <button type="button" (click)="updateField('protein')" class="btn btn-primary"
            [disabled]="!proteinFieldEnabled || !goalsFormGroup.valid">
            <fa-icon [icon]="tickIcon" size="sm"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-11 mt-1"
        *ngIf="goalsForm.protein.invalid && (goalsForm.protein.dirty || goalsForm.protein.touched)">
        <div class="col no-padding">
          <div class="alert alert-danger">
            <div *ngIf="goalsForm.protein.errors.maxlength">
              Max length is 10 characters.
            </div>
            <div *ngIf="goalsForm.protein.errors.pattern">
              Protein must be a number.
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 mt-4">
        <div class="font-medium"><b>Fat goal (g):</b></div>
        <div class="input-group">
          <span class="input-group-text" id="fat">
            <fa-icon (click)="enableFatField()" [icon]="fats" size="md"></fa-icon>
          </span>
          <input id="fat" type="text" class="form-control" formControlName="fat" placeholder="Enter"
            aria-label="fat goal" aria-describedby="fat goal">
          <button type="button" (click)="updateField('fat')" class="btn btn-primary"
            [disabled]="!fatFieldEnabled || !goalsFormGroup.valid">
            <fa-icon [icon]="tickIcon" size="sm"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-11 mt-1" *ngIf="goalsForm.fat.invalid && (goalsForm.fat.dirty || goalsForm.fat.touched)">
        <div class="col no-padding">
          <div class="alert alert-danger">
            <div *ngIf="goalsForm.fat.errors.maxlength">
              Max length is 10 characters.
            </div>
            <div *ngIf="goalsForm.fat.errors.pattern">
              Fat must be a number.
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 mt-4">
        <div class="font-medium"><b>Carbs goal (g):</b></div>
        <div class="input-group">
          <span class="input-group-text" id="carbs">
            <fa-icon (click)="enableCarbsField()" [icon]="carbs" size="md"></fa-icon>
          </span>
          <input id="carbs" type="text" class="form-control" formControlName="carbs" placeholder="Enter"
            aria-label="carbs goal" aria-describedby="carbs goal">
          <button type="button" (click)="updateField('carbs')" class="btn btn-primary"
            [disabled]="!carbFieldEnabled || !goalsFormGroup.valid">
            <fa-icon [icon]="tickIcon" size="sm"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-11 mt-1" *ngIf="goalsForm.carbs.invalid && (goalsForm.carbs.dirty || goalsForm.carbs.touched)">
        <div class="col no-padding">
          <div class="alert alert-danger">
            <div *ngIf="goalsForm.carbs.errors.maxlength">
              Max length is 10 characters.
            </div>
            <div *ngIf="goalsForm.carbs.errors.pattern">
              Carbs must be a number.
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 mt-4">
        <div class="font-medium"><b>Calorie goal (kCal):</b></div>
        <div class="input-group">
          <span class="input-group-text" id="calories">
            <fa-icon (click)="enableCalorieField()" [icon]="calories" size="md"></fa-icon>
          </span>
          <input id="calories" type="text" class="form-control" formControlName="calories" placeholder="Enter"
            aria-label="calories goal" aria-describedby="calories goal">
          <button type="button" (click)="updateField('calories')" class="btn btn-primary"
            [disabled]="!calorieFieldEnabled || !goalsFormGroup.valid">
            <fa-icon [icon]="tickIcon" size="sm"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-11 mt-1"
        *ngIf="goalsForm.calories.invalid && (goalsForm.calories.dirty || goalsForm.calories.touched)">
        <div class="col no-padding">
          <div class="alert alert-danger">
            <div *ngIf="goalsForm.calories.errors.maxlength">
              Max length is 20 characters.
            </div>
            <div *ngIf="goalsForm.calories.errors.pattern">
              Calories must be a number.
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 mt-4 mb-5">
        <div class="font-medium"><b>Review time:</b></div>
        <div class="input-group">
          <span class="input-group-text" id="review">
            <fa-icon (click)="enableReviewField()" [icon]="clock" size="md"></fa-icon>
          </span>
          <select class="custom-select" formControlName="review">
            <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}:00</option>
          </select>
          <button type="button" (click)="updateField('review')" class="btn btn-primary"
            [disabled]="!reviewFieldEnabled">
            <fa-icon [icon]="tickIcon" size="sm"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>