<div class="container">
    <form [formGroup]="addMealForm" (ngSubmit)="saveMeal()">
        <div class="row">
            <div class="col-12 pt-2">
                <div class="row">
                    <div class="col-1">
                        <app-back-button [returnRoute]="'/meals'"></app-back-button>
                    </div>
                    <div class="col text-center">
                        <h6><b>NEW MEAL</b></h6>
                    </div>
                    <div class="col-1 mr-3 no-padding">
                        <button type="submit" class="btn btn-sm" [disabled]="!addMealForm.valid">
                            <fa-icon [icon]="tickIcon" [fixedWidth]="true" class="icons"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-2 no-padding" style="display: block">
                <canvas baseChart [data]="data" [chartType]="type" [labels]="labels" [options]="options">
                </canvas>
            </div>
            <div class="col-12 pt-2">
                <div class="row text-center text-secondary">
                    <div class="col-12">
                        <div class="row">
                            <div class="col colour-protein">
                                {{proteinPercentage}}%
                            </div>
                            <div class="col colour-fats">
                                {{fatPercentage}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <b>{{proteinTotal}}g</b>
                            </div>
                            <div class="col">
                                <b>{{fatTotal}}g</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col colour-protein">
                                Protein
                            </div>
                            <div class="col colour-fats">
                                Fats
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-2">
                        <div class="row">
                            <div class="col colour-carbs">
                                {{carbsPercentage}}%
                            </div>
                            <div class="col colour-calories">
                                {{caloriesPercentage}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <b>{{carbsTotal}}g</b>
                            </div>
                            <div class="col">
                                <b>{{caloriesTotal}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col colour-carbs">
                                Carbs
                            </div>
                            <div class="col colour-calories">
                                Kcal
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-4 pb-5">
                <div class="row">
                    <div class="form-group col-12">
                        <h6><b>Meal name:</b></h6>
                        <input type="text" formControlName="mealName" class="form-control" placeholder="Enter"
                            [ngClass]="{ 'is-invalid': mealForm.mealName.touched && mealForm.mealName.errors }">
                    </div>
                    <div class="col-12 pt-2">
                        <h6><b>Meal Items:</b><span class="align-items-right">
                                <fa-icon (click)="addFoodItem()" [icon]="plusIcon" [fixedWidth]="true" class="icons">
                                </fa-icon>
                            </span></h6>
                        <ul *ngIf="meal.items" class="list-group list-group-flush">
                            <div *ngFor="let item of meal.items">
                                <li class="list-group-item">{{item.product.product_name}}<span
                                        class="align-items-right"><b>{{item.product.nutriments['energy-kcal_value']}}</b></span>
                                </li>
                                <li class="list-group-item text-secondary">{{item.product.brands}},
                                    {{item.product.serving_number}}x, {{item.product.serving_size}}</li>
                            </div>
                        </ul>
                        <div *ngIf="!meal.items" class="text-center text-secondary pt-2">
                            <h6>Add items to your meal!</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>