<div class="container no-padding">
    <div class="row">
        <div class="col no-padding">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Left</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        Protein
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>12</td>
                    <td>80</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Fats
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>15</td>
                    <td>30</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Carbs
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>22</td>
                    <td>60</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Vitamin A
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>12</td>
                    <td>80</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Iron
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>15</td>
                    <td>30</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Vitamin C
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>22</td>
                    <td>60</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Calcium
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>12</td>
                    <td>80</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Omega-3
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>15</td>
                    <td>30</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>
                        Vitamin D
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>22</td>
                    <td>60</td>
                    <td>80</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>