.no-padding {
    padding: 0px;
}

.table td, .table th {
    padding:0px;
}

.table {
    border-collapse: separate;
    border-spacing:0 3px;
}

.green {
    color: rgb(32, 175, 32);
}

.red {
    color: rgb(255, 64, 64);
}

.amber {
    color: rgb(255, 130, 14)
}