<div class="container no-padding">
    <div class="row">
        <div class="col no-padding">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Left</th>
                  </tr>
                </thead>
                <tbody  *ngFor="let micro of micros">
                  <tr>
                    <td>
                        {{micro.name}}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': micro.percentage}" aria-valuenow="microTotalPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>{{micro.total}}</td>
                    <td>{{micro.goal}}</td>
                    <td [ngClass]="microsInTheGreen(micro.total, micro.goal) == 'green' ? 'green' : (microsInTheGreen(micro.total, micro.goal) == 'red' ? 'red' : 'amber')">
                      {{micro.left}}
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>